<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="admin/fragments/admin-common :: html-admin-header">

</head>

<body>
    <div class="wrapper">
        <div th:replace="admin/fragments/admin-common :: main-admin-sidebar"></div>
        <div class="main-panel">
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card card-plain">
                                <div class="header">
                                    <h4 class="title">UserList</h4>
                                    <p class="category">Here is a subtitle for this table</p>
                                </div>
                                <div class="content table-responsive table-full-width">
                                    <table class="table table-hover">
                                        <thead>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Role</th>
                                            <th>luckyNumber</th>
                                            <th>createTime</th>
                                        </thead>
                                        <tbody>
                                            <tr th:each="user: ${pages}">
                                                <td th:text="${user.id}"></td>
                                                <td th:text="${user.userName}"></td>
                                                <td th:text="${user.email}"></td>
                                                <td th:text="${user.role}"></td>
                                                <td th:text="${user.luckyNumber}"></td>
                                                <td th:text="${user.createdDate}"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <th:block th:with="start=${(pages.number/maxPage) * maxPage + 1},
                end=(${(pages.totalPages == 0) ? 1 : (start + (maxPage - 1) lt pages.totalPages ? start + (maxPage - 1) : pages.totalPages)})">
                    <ul class="pagination justify-content-center">
                        <li class="page-item" th:if="${start > 1}">
                            <a th:href="@{/admin/user-manager?(page=0)}"><i class="fas fa-angle-double-left"></i></a>
                        </li>
                        </li>

                        <li class="page-item" th:if="${start > 1}">
                            <a th:href="@{/admin/user-manager?(page=${start - maxPage})}"><i class="fas fa-chevron-left"></i></a>
                        </li>
                        <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}">
                            <a th:href="@{/admin/user-manager?(page=${page-1})}" th:text="${page}"></a>
                        </li>
                        </li>

                        <li class="page-item" th:if="${end lt pages.totalPages}">
                            <a th:href="@{/admin/user-manager?(page=${start + maxPage})}"><i class="fas fa-chevron-right"></i></a>
                        </li>

                        <li class="page-item" th:if="${end lt pages.totalPages}">
                            <a th:href="@{/admin/user-manager?(page=${pages.totalPages-1})}"><i class="fas fa-angle-double-right"></i></a>
                        </li>
                        </li>
                    </ul>
                </th:block>
            </div>
        </div>
    </div>

    <th:block th:include="admin/fragments/admin-common :: main-admin-footer"></th:block>
</body>

</html>