<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="admin/fragments/admin-common :: html-admin-header">
</head>

<body>
    <div class="wrapper">
        <div th:replace="admin/fragments/admin-common :: main-admin-sidebar"></div>
        <div class="main-panel">
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card card-plain">
                                <div class="header">
                                    <h4 class="title">UserList</h4>
                                    <p class="category">Here is a subtitle for this table</p>
                                </div>
                                <div class="content table-responsive table-full-width">
                                    <table class="table table-hover">
                                        <thead>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Role</th>
                                            <th>luckyNumber</th>
                                            <th>createTime</th>
                                        </thead>
                                        <tbody>
                                            <tr th:each="user: ${paging}">
                                                <td th:text="${user.id}"></td>
                                                <td th:text="${user.userName}"></td>
                                                <td th:text="${user.email}"></td>
                                                <td th:text="${user.role}"></td>
                                                <td th:text="${user.luckyNumber}"></td>
                                                <td th:text="${user.createdDate}"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div th:if="${!paging.isEmpty()}">
                                <nav th:with="
                                            pageNumber = ${paging.pageable.pageNumber},
                                            pageSize = ${paging.pageable.pageSize},
                                            totalPages = ${paging.totalPages},
                                            startPage = ${T(Math).floor(pageNumber / pageSize) * pageSize + 1},
                                            tempEndPage = ${startPage + pageSize - 1},
                                            endPage = (${tempEndPage > totalPages ? totalPages : tempEndPage})" aria-label="Page navigation" class="blog-pagination justify-content-center d-flex">
                                    <ul class="pagination ">
                                        <li th:classappend="${pageNumber + 1 <= pageSize + 1} ? 'disabled'" class="page-item">
                                            <a class="page-link" th:href="@{/admin/user-manager}">
                                                <i class="fas fa-angle-double-left"></i>
                                            </a>
                                        </li>
                                        <li th:classappend="${paging.first} ? 'disabled'" class="page-item">
                                            <a class="page-link" th:href="${paging.first} ? '#' : @{/admin/user-manager(page=${paging.number})}" aria-label="Previous">
                                                <i class="fas fa-angle-left"></i>
                                            </a>
                                        </li>
                                        <li th:each="page: ${#numbers.sequence(startPage, endPage)}" th:classappend="${page == paging.number + 1} ? 'active'" class="page-item">
                                            <a th:text="${page}" class="page-link" th:href="@{/admin/user-manager(page=${page})}"></a>
                                        </li>
                                        <li th:classappend="${paging.last} ? 'disabled'" class="page-item">
                                            <a class="page-link" th:href="${paging.last} ? '#' : @{/admin/user-manager(page=${paging.number + 2})}" aria-label="Next">
                                                <i class="fas fa-angle-right"></i>
                                            </a>
                                        </li>
                                        <li th:classappend=" ${T(Math).floor(totalPages/10)*10 <= startPage} ? 'disabled'" class="page-item">
                                            <a class="page-link" th:href="@{/admin/user-manager(page=${totalPages})}">
                                                <i class="fas fa-angle-double-right"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <th:block th:include="admin/fragments/admin-common :: main-admin-footer"></th:block>
</body>

</html>