<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- script-->
    <th:block th:include="/fragments/common-header :: html-main-header"></th:block>
    <link rel="stylesheet" th:href="@{/css/sunshine/story.css}">
</head>

<body>
    <header th:replace="/fragments/common-header :: main-header"></header>
    <th:block th:include="/fragments/common-header :: program-slider('label.header.gallery')"></th:block>

    <!-- gallery_area  -->
    <div class="gallery_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title text-center">
                        <h3>Gallery. Photos</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h1 class="page-title">Projects</h1>
                    <th:block th:with="imgdir = ${@environment.getProperty('files.directory')}">
                        <div class="row" th:each="gallery: ${paging}">
                            <a th:href="@{${imgdir} + ${gallery.galleryImg}}" data-toggle="lightbox" data-gallery="example-gallery" class="col-lg-3 col-md-4 col-6 my-3">
                                <img th:src="@{${imgdir} + ${gallery.thumbImg}}" class="img-fluid card">
                            </a>
                        </div>
                        <div class="py-5 text-right"><a href="#" class="btn btn-dark px-5 py-3 text-uppercase">Show me more</a></div>
                    </th:block>
                </div>
            </div>

            <!--/ gallery_area  -->


            <!-- script-->
            <th:block th:include="/fragments/common-footer :: html-main-footer"></th:block>
            <script>
                $(document).on('click', '[data-toggle="lightbox"]', function(event) {
                    event.preventDefault();
                    $(this).ekkoLightbox({
                        alwaysShowClose: true
                    });
                });
            </script>

</body>

</html>