<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- script-->
    <th:block th:include="/fragments/common-header :: html-main-header"></th:block>
    <link rel="stylesheet" th:href="@{/css/gallery/gallery.css}">
</head>

<body>
    <header th:replace="/fragments/common-header :: main-header"></header>
    <th:block th:include="/fragments/common-header :: slim-image-slider('label.header.ourstory')"></th:block>


    <div id="top"></div>
    <section class="gallerys">
        <div class="rows">
            <ul>
                <a href="#" class="close"></a>
                <th:block th:each="gallery, numstat : ${paging}">
                    <li>
                        <a th:href="|#@{item}${numstat.index}|">
                            <img th:src="@{/image} + ${gallery.thumbImg}">
                        </a>
                    </li>
                </th:block>
            </ul>
        </div>
        <!-- / row -->
        <!-- Item 01 -->
        <th:block th:each="gallery, numstat : ${paging}">
            <div th:id="|item${numstat.index}|" class="portfolios" overflow-y : auto>
                <div class="rows">
                    <div class="description">
                        <p th:text="${gallery.imgDescription}">description</p>
                        <button th:id="${gallery.id}" class="btn btn-block btn-primary" onclick="likeOption(this)"><i class="fa fa-thumbs-up"></i>Like</button>
                    </div>
                    <a th:href="@{/image} + ${gallery.galleryImg}" data-toggle="lightbox">
                        <img src="@{/image} + ${gallery.galleryImg}" class="img-fluid">
                    </a>

                    <div class="container justify-content-center mt-5 border-left border-right" display : block>
                        <div class="d-flex justify-content-center pt-3 pb-2"> <input type="text" name="text" placeholder="+ Add a note" class="form-control addtxt"> </div>
                        <div class="d-flex justify-content-center py-2">
                            <div class="second py-2 px-2"> <span class="text1">Type your note, and hit enter to add it</span>
                                <div class="d-flex justify-content-between py-1 pt-2">
                                    <div><img src="https://i.imgur.com/AgAC1Is.jpg" width="18"><span class="text2">Martha</span></div>
                                    <div><span class="text3">Upvote?</span><span class="thumbup"><i class="fa fa-thumbs-o-up"></i></span><span class="text4">3</span></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            </div>
        </th:block>
        <!-- / row -->
    </section>



    <!-- script-->
    <th:block th:include="/fragments/common-footer :: html-main-footer"></th:block>
    <script>
        // portfolios
        $('.gallerys ul li a').click(function() {
            var itemID = $(this).attr('href');
            alert(itemID);
            $('.gallerys ul').addClass('item_open');
            $(itemID).addClass('item_open');
            return false;
        });
        $('.close').click(function() {
            $('.portfolios, .gallerys ul').removeClass('item_open');
            return false;
        });

        $(".gallerys ul li a").click(function() {
            $('html, body').animate({
                scrollTop: parseInt($("#top").offset().top)
            }, 400);
        });

        function likeOption(id) {
            var galleryId = $(this).attr('id');
            $.ajax({
                type: 'post',
                url: '/gallery-like',
                data: {
                    'galleryId': galleryId,
                    'like': galleryId
                },
                success: function() {
                    alert("result comment = " + jdata);
                    $("#commentsList").prepend(
                        '<div class="user justify-content-between d-flex"><div class="desc"><div class="comment">' +
                        coment +
                        '</div></div></div>' +
                        '<div class="d-flex justify-content-end"><div class="d-flex align-items-center"><h5><p class="date">' +
                        name +
                        '</p></h5><p class="date">' +
                        jdata +
                        '</p></div></div>');

                }
            });
        }
    </script>
    <script>
    </script>
</body>

</html>