/* Our Stroy  START */

.weeding_countdown_area {
    padding-top: 150px;
    padding-bottom: 75px;
    position: relative;
    z-index: 9;
}

.weeding_countdown_area .flowaers_top {
    position: absolute;
    top: 102px;
    right: -17px;
}

.weeding_countdown_area .flowaers_bottom {
    position: absolute;
    left: -144px;
    bottom: -200px;
}

@media (max-width: 767px) {
    .weeding_countdown_area {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

.weeding_countdown_area .countdown_area {
    padding: 35px 35px 50px 35px;
    background-size: cover;
    background-position: bottom;
}

.weeding_countdown_area .countdown_area .countdown_wrap {
    background: #fff;
    justify-content: space-evenly;
    padding-bottom: 36px;
    padding-top: 30px;
}

@media (max-width: 767px) {
    .weeding_countdown_area .countdown_area .countdown_wrap {
        display: block !important;
    }
}

.weeding_countdown_area .countdown_area .countdown_wrap .single_countdown {
    text-align: center;
}

.weeding_countdown_area .countdown_area .countdown_wrap .single_countdown h3 {
    font-size: 60px;
    font-family: "Petit Formal Script", cursive;
    font-weight: 400;
    color: #C78665;
    margin-bottom: 17px;
}

@media (max-width: 767px) {
    .weeding_countdown_area .countdown_area .countdown_wrap .single_countdown h3 {
        font-size: 30px;
    }
}

.weeding_countdown_area .countdown_area .countdown_wrap .single_countdown span {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.love_story_area {
    padding-top: 75px;
    padding-bottom: 30px;
}

@media (max-width: 767px) {
    .love_story_area {
        padding-top: 50px;
        padding-bottom: 20px;
    }
}

.love_story_area .single_lover_story {
    margin-bottom: 30px;
}

.love_story_area .single_lover_story .story_thumb {
    width: 247px;
    height: 247px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: relative;
    margin: auto;
}

.love_story_area .single_lover_story .story_thumb img {
    width: 100%;
}

.love_story_area .single_lover_story .story_thumb:before {
    position: absolute;
    content: "";
    left: 10px;
    top: 10px;
    bottom: 10px;
    right: 10px;
    border: 2px solid #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.love_story_area .single_lover_story span {
    font-size: 24px;
    font-weight: 400;
    margin-top: 33px;
    display: block;
    margin-bottom: 11px;
}

.love_story_area .single_lover_story h3 {
    font-size: 36px;
    color: #C78665;
}

@media (max-width: 767px) {
    .love_story_area .single_lover_story h3 {
        font-size: 30px;
    }
}

.love_story_area .single_lover_story p {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 28px;
}

.love_story_area .single_lover_story .social_links {
    text-align: center;
}

.love_story_area .single_lover_story .social_links ul li {
    display: inline-block;
}

.love_story_area .single_lover_story .social_links ul li a {
    width: 35px;
    height: 35px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #F9F3EF;
    color: #C78665;
    display: inline-block;
    text-align: center;
    line-height: 35px;
    margin: 0 3px;
}

.love_story_area .single_lover_story .social_links ul li a:hover {
    background: #C78665;
    color: #fff;
}

.love_story_area .weding_time_line {
    background: #FFFAF2;
    padding: 30px;
    margin-bottom: 30px;
}

.love_story_area .weding_time_line .single_time_line {
    padding-bottom: 48px;
    padding-top: 45px;
    position: relative;
}

.love_story_area .weding_time_line .single_time_line::before {
    position: absolute;
    height: 40px;
    width: 1px;
    background: #C78665;
    left: 50%;
    content: "";
    bottom: -10px;
    opacity: .2;
}

.love_story_area .weding_time_line .single_time_line h3 {
    font-size: 24px;
    color: #C78665;
    font-weight: 400;
}

.love_story_area .weding_time_line .single_time_line p {
    font-size: 16px;
    line-height: 28px;
    font-family: "Muli", sans-serif;
}

.love_story_area .weding_time_line .single_time_line:nth-child(4)::before {
    display: none;
}

.section_title {
    margin-bottom: 62px;
}

@media (max-width: 767px) {
    .section_title {
        margin-bottom: 25px;
    }
}

.section_title span {
    font-size: 18px;
    font-weight: 400;
    font-family: "Muli", sans-serif;
    color: #C78665;
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
}

.section_title h3 {
    font-size: 36px;
    font-family: "Muli", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 20px;
}

@media (max-width: 767px) {
    .section_title h3 {
        font-size: 25px;
    }
}


/* Sign-up  START */

.attending_area {
    padding-top: 200px;
    padding-bottom: 200px;
}

.attending_area.plus_padding {
    padding-top: 265px;
}

@media (max-width: 767px) {
    .attending_area.plus_padding {
        padding-top: 0;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .attending_area.plus_padding {
        padding-top: 0;
    }
}

@media (max-width: 767px) {
    .attending_area {
        padding-top: 0;
        padding-bottom: 80px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .attending_area {
        padding-top: 0;
        padding-bottom: 40px;
    }
}

.attending_area .main_attending_area {
    position: relative;
    z-index: 9;
}

.attending_area .main_attending_area .flower_1 {
    position: absolute;
    left: 0;
    top: -120px;
}

.attending_area .main_attending_area .flower_2 {
    position: absolute;
    right: 30px;
    bottom: -120px;
}

.attending_area .main_attending_area .popup_box {
    background: #fff;
    display: inline-block;
    z-index: 9;
    padding: 51px 40px 60px 40px;
    -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}

@media (max-width: 767px) {
    .attending_area .main_attending_area .popup_box {
        padding: 20px;
    }
}

.attending_area .main_attending_area .popup_box h3 {
    text-align: center;
    font-size: 36px;
    color: #C78665;
}

@media (max-width: 767px) {
    .attending_area .main_attending_area .popup_box h3 {
        font-size: 25px;
    }
}

.attending_area .main_attending_area .popup_box p {
    font-size: 15px;
    color: #727272;
    font-family: "Muli", sans-serif;
    margin-bottom: 34px;
}

.attending_area .main_attending_area .popup_box .boxed-btn3 {
    width: 100%;
    text-transform: capitalize;
}

.attending_area .main_attending_area .popup_box input {
    width: 100%;
    height: 50px;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
    font-family: "Muli", sans-serif;
}

.attending_area .main_attending_area .popup_box input::placeholder {
    color: #919191;
    font-weight: 400;
}

.attending_area .main_attending_area .popup_box input:focus {
    outline: none;
}

.attending_area .main_attending_area .popup_box button {
    width: 100%;
    border: none;
    font-family: "Muli", sans-serif;
}

.attending_area .main_attending_area .popup_box textarea {
    width: 100%;
    height: 120px;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
    font-family: "Muli", sans-serif;
}

.attending_area .main_attending_area .popup_box textarea::placeholder {
    color: #919191;
    font-weight: 400;
}

.attending_area .main_attending_area .popup_box textarea:focus {
    outline: none;
}

.attending_area .main_attending_area .popup_box .nice-select {
    -webkit-tap-highlight-color: transparent;
    background-color: #fff;
    /* border-radius: 5px; */
    border: solid 1px #E2E2E2;
    box-sizing: border-box;
    clear: both;
    cursor: pointer;
    display: block;
    float: left;
    font-family: "Muli", sans-serif;
    font-weight: normal;
    width: 100% !important;
    /* height: 42px; */
    line-height: 50px;
    outline: none;
    padding-left: 18px;
    padding-right: 30px;
    position: relative;
    text-align: left !important;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    width: auto;
    border-radius: 0;
    margin-bottom: 30px;
    height: 50px !important;
    font-size: 16px;
    font-weight: 400;
    color: #919191;
}

.attending_area .main_attending_area .popup_box .nice-select::after {
    content: "\f0d7";
    display: block;
    height: 5px;
    margin-top: -5px;
    pointer-events: none;
    position: absolute;
    right: 17px;
    top: 3px;
    transition: all 0.15s ease-in-out;
    width: 5px;
    font-family: fontawesome;
    color: #919191;
    font-size: 15px;
}

.attending_area .main_attending_area .popup_box .nice-select.open .list {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: scale(1) translateY(0);
    -ms-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    height: 200px;
    overflow-y: scroll;
}

.attending_area .main_attending_area .popup_box .nice-select.list {
    height: 200px;
    overflow-y: scroll;
}


/* line 1, ../../Arafath/CL/CL september/212. Wedding/HTML/scss/_attending.scss */

.attending_area {
    padding-top: 95px;
    padding-bottom: 280px;
}


/* line 4, ../../Arafath/CL/CL september/212. Wedding/HTML/scss/_attending.scss */

.attending_area.plus_padding {
    padding-top: 265px;
}

@media (max-width: 767px) {
    /* line 4, ../../Arafath/CL/CL september/212. Wedding/HTML/scss/_attending.scss */
    .attending_area.plus_padding {
        padding-top: 0;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    /* line 4, ../../Arafath/CL/CL september/212. Wedding/HTML/scss/_attending.scss */
    .attending_area.plus_padding {
        padding-top: 0;
    }
}

@media (max-width: 767px) {
    /* line 1, ../../Arafath/CL/CL september/212. Wedding/HTML/scss/_attending.scss */
    .attending_area {
        padding-top: 0;
        padding-bottom: 80px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    /* line 1, ../../Arafath/CL/CL september/212. Wedding/HTML/scss/_attending.scss */
    .attending_area {
        padding-top: 0;
        padding-bottom: 40px;
    }
}


/* line 21, ../../Arafath/CL/CL september/212. Wedding/HTML/scss/_attending.scss */

.attending_area .main_attending_area {
    position: relative;
    z-index: 9;
}


/* line 25, ../../Arafath/CL/CL september/212. Wedding/HTML/scss/_attending.scss */

.attending_area .main_attending_area .flower_1 {
    position: absolute;
    left: 0;
    top: -120px;
}


/* line 30, ../../Arafath/CL/CL september/212. Wedding/HTML/scss/_attending.scss */

.attending_area .main_attending_area .flower_2 {
    position: absolute;
    right: 30px;
    bottom: -120px;
}


/* line 35, ../../Arafath/CL/CL september/212. Wedding/HTML/scss/_attending.scss */

.attending_area .main_attending_area .popup_box {
    background: #fff;
    display: inline-block;
    z-index: 9;
    padding: 51px 40px 60px 40px;
    -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}

@media (max-width: 767px) {
    /* line 35, ../../Arafath/CL/CL september/212. Wedding/HTML/scss/_attending.scss */
    .attending_area .main_attending_area .popup_box {
        padding: 20px;
    }
}


/* line 44, ../../Arafath/CL/CL september/212. Wedding/HTML/scss/_attending.scss */

.attending_area .main_attending_area .popup_box h3 {
    text-align: center;
    font-size: 36px;
    color: #C78665;
}

@media (max-width: 767px) {
    /* line 44, ../../Arafath/CL/CL september/212. Wedding/HTML/scss/_attending.scss */
    .attending_area .main_attending_area .popup_box h3 {
        font-size: 25px;
    }
}


/* line 52, ../../Arafath/CL/CL september/212. Wedding/HTML/scss/_attending.scss */

.attending_area .main_attending_area .popup_box p {
    font-size: 15px;
    color: #727272;
    font-family: "Muli", sans-serif;
    margin-bottom: 34px;
}


/* line 58, ../../Arafath/CL/CL september/212. Wedding/HTML/scss/_attending.scss */

.attending_area .main_attending_area .popup_box .boxed-btn3 {
    width: 100%;
    text-transform: capitalize;
}


/* line 62, ../../Arafath/CL/CL september/212. Wedding/HTML/scss/_attending.scss */

.attending_area .main_attending_area .popup_box input {
    width: 100%;
    height: 50px;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
    font-family: "Muli", sans-serif;
}


/* line 69, ../../Arafath/CL/CL september/212. Wedding/HTML/scss/_attending.scss */

.attending_area .main_attending_area .popup_box input::placeholder {
    color: #919191;
    font-weight: 400;
}


/* line 73, ../../Arafath/CL/CL september/212. Wedding/HTML/scss/_attending.scss */

.attending_area .main_attending_area .popup_box input:focus {
    outline: none;
}


/* line 77, ../../Arafath/CL/CL september/212. Wedding/HTML/scss/_attending.scss */

.attending_area .main_attending_area .popup_box button {
    width: 100%;
    border: none;
    font-family: "Muli", sans-serif;
}


/* line 82, ../../Arafath/CL/CL september/212. Wedding/HTML/scss/_attending.scss */

.attending_area .main_attending_area .popup_box textarea {
    width: 100%;
    height: 120px;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
    font-family: "Muli", sans-serif;
}


/* line 89, ../../Arafath/CL/CL september/212. Wedding/HTML/scss/_attending.scss */

.attending_area .main_attending_area .popup_box textarea::placeholder {
    color: #919191;
    font-weight: 400;
}


/* line 93, ../../Arafath/CL/CL september/212. Wedding/HTML/scss/_attending.scss */

.attending_area .main_attending_area .popup_box textarea:focus {
    outline: none;
}


/* line 97, ../../Arafath/CL/CL september/212. Wedding/HTML/scss/_attending.scss */

.attending_area .main_attending_area .popup_box .nice-select {
    -webkit-tap-highlight-color: transparent;
    background-color: #fff;
    /* border-radius: 5px; */
    border: solid 1px #E2E2E2;
    box-sizing: border-box;
    clear: both;
    cursor: pointer;
    display: block;
    float: left;
    font-family: "Muli", sans-serif;
    font-weight: normal;
    width: 100% !important;
    /* height: 42px; */
    line-height: 50px;
    outline: none;
    padding-left: 18px;
    padding-right: 30px;
    position: relative;
    text-align: left !important;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    width: auto;
    border-radius: 0;
    margin-bottom: 30px;
    height: 50px !important;
    font-size: 16px;
    font-weight: 400;
    color: #919191;
}

.attending_area .main_attending_area .popup_box .nice-select::after {
    content: "\f0d7";
    display: block;
    height: 5px;
    margin-top: -5px;
    pointer-events: none;
    position: absolute;
    right: 17px;
    top: 3px;
    transition: all 0.15s ease-in-out;
    width: 5px;
    font-family: fontawesome;
    color: #919191;
    font-size: 15px;
}

.attending_area .main_attending_area .popup_box .nice-select.open .list {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: scale(1) translateY(0);
    -ms-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    height: 200px;
    overflow-y: scroll;
}

.attending_area .main_attending_area .popup_box .nice-select.list {
    height: 200px;
    overflow-y: scroll;
}

.boxed-btn {
    background: #fff;
    color: #000;
    display: inline-block;
    padding: 18px 44px;
    font-family: "Muli", sans-serif;
    font-size: 14px;
    font-weight: 400;
    border: 0;
    border: 1px solid #000;
    letter-spacing: 3px;
    text-align: center;
    color: #000 !important;
    text-transform: uppercase;
}

.boxed-btn:hover {
    background: #000;
    color: #fff !important;
    border: 1px solid #000;
}

.boxed-btn:focus {
    outline: none;
}

.boxed-btn.large-width {
    width: 220px;
}

.boxed-btn2 {
    background: #000;
    color: #fff;
    display: inline-block;
    padding: 17px 50px 16px 50px;
    font-family: "Muli", sans-serif;
    font-size: 16px;
    font-weight: 400;
    border: 0;
    text-transform: capitalize;
    color: #fff;
}

.boxed-btn2:hover {
    background: #fff;
}

.boxed-btn2:focus {
    outline: none;
}

.boxed_btn3 {
    background: #C78665;
    padding: 9px 26px;
    margin-bottom: 0;
    font-size: 20px;
    color: #fff;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    display: inline-block;
}

.boxed_btn3:hover {
    background: #FAF0F0;
    color: #C78665;
}

@media (min-width: 768px) and (max-width: 991px) {
    /* line 46, ../../Arafath/CL/CL september/212. Wedding/HTML/scss/_btn.scss */
    .boxed_btn3 {
        padding: 9px 16px;
    }
}

.boxed-btn4 {
    background: transparent;
    color: #F2C64D;
    display: inline-block;
    padding: 15px 44px;
    font-family: "Muli", sans-serif;
    font-size: 16px;
    font-weight: 600;
    border: 0;
    border: 1px solid #F2C64D;
    text-align: center;
    text-transform: capitalize;
}

.boxed-btn4:hover {
    background: #F2C64D;
    color: #fff !important;
    border: 1px solid transparent;
}

.boxed-btn4:focus {
    outline: none;
}

.boxed-btn4.large-width {
    width: 220px;
}

.boxed-btn5 {
    background: #F2C64D;
    color: #fff;
    display: inline-block;
    padding: 15px 44px;
    font-family: "Petit Formal Script", cursive;
    font-size: 16px;
    font-weight: 600;
    border: 0;
    border: 1px solid #F2C64D;
    text-align: center;
    text-transform: capitalize;
}

.boxed-btn5:hover {
    background: #fff;
    color: #F2C64D !important;
    border: 1px solid #F2C64D;
}

.boxed-btn5:focus {
    outline: none;
}

.boxed-btn5.large-width {
    width: 220px;
}

.gallery_area {
    padding: 0 50px;
    padding-top: 90px;
}

@media (max-width: 767px) {
    /* line 65, ../../Arafath/CL/CL september/212. Wedding/HTML/scss/_gallery.scss */
    .gallery_area {
        padding: 0;
    }
}


/* line 71, ../../Arafath/CL/CL september/212. Wedding/HTML/scss/_gallery.scss */

.gallery_area .single_gallery {
    height: 410px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
    position: relative;
}


/* line 80, ../../Arafath/CL/CL september/212. Wedding/HTML/scss/_gallery.scss */

.gallery_area .grid-item {
    overflow: hidden;
    padding: 4px !important;
}


/* line 84, ../../Arafath/CL/CL september/212. Wedding/HTML/scss/_gallery.scss */

.gallery_area a {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}


/* CSS used here will be applied after bootstrap.css */

.ekko-lightbox-nav-overlay a {
    color: goldenrod;
}

.gallery-title {
    text-align: center;
    font-weight: 500;
    border-bottom: 1px dotted orange;
    margin-top: 1em;
}

.comment-padding {
    padding-top: 120px;
    padding-bottom: 120px;
    padding-left: 200px;
}