<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- script-->
    <th:block th:include="/fragments/common-header :: html-main-header"></th:block>
    <link rel="stylesheet" th:href="@{/css/sunshine/story.css}">
</head>

<body>
    <header th:replace="/fragments/common-header :: main-header"></header>
    <th:block th:include="/fragments/common-header :: slim-image-slider('label.header.signin-register-in.sign-in')"></th:block>

    <div class="attending_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 offset-xl-1 col-lg-10 offset-lg-1">
                    <div class="main_attending_area">
                        <div class="flower_1 d-none d-lg-block">
                            <img th:src="@{/img/user/flower-top.png}">
                        </div>
                        <div class="flower_2 d-none d-lg-block">
                            <img th:src="@{/img/user/flower-bottom.png}">
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-xl-7 col-lg-8">
                                <div class="popup_box ">
                                    <div class="popup_inner">
                                        <div class="form_heading text-center">
                                            <h3 th:text="#{label.sign-in.title}">Sign-in</h3>
                                        </div>
                                        <form th:action="@{/sign-in}" method="post" th:object="${registerUser}">
                                            <div class="row">
                                                <div class="col-xl-12">
                                                    <input class="form-control" type="email" th:field="*{email}" th:placeholder="#{label.sign-up.place-holer.email}" required>
                                                </div>
                                                <div class="col-xl-12">
                                                    <input class="form-control" type="password" th:field="*{password}" th:placeholder="#{label.sign-up.place-holer.password}" required>
                                                </div>
                                                <div class="col-xl-12">
                                                    <button type="submit" class="boxed_btn3 form-control" th:text="#{label.sign-in.button.sign-in}">SIGN-IN</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- script-->
    <th:block th:include="/fragments/common-footer :: html-main-footer"></th:block>
</body>

</html>