<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- script-->
    <th:block th:include="/fragments/common-header :: html-main-header"></th:block>
</head>

<body>
    <header th:replace="/fragments/common-header :: main-header"></header>

    <!-- Hero Area Start-->
    <div class="slider-area hero-overly">
        <div class="single-slider hero-overly  slider-height d-flex align-items-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-8 col-lg-9">
                        <!-- Hero Caption -->
                        <div class="hero__caption">
                            <span th:text="#{label.main.logo}">Wonderful Wedding</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <!-- script-->
    <th:block th:include="/fragments/common-footer :: html-main-footer"></th:block>
</body>

</html>